<!-- <div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <section bg-light p-4>
        <h2>Main content</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt ducimus consequatur amet repellendus earum, itaque expedita perspiciatis tempora iste corporis sapiente accusamus, aliquam ullam debitis ipsum aut qui maiores beatae!</p>
      </section>
    </div>
    <div class="col-md-4">
      <aside>
        <h2>Right Sidebar</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta fuga consequatur mollitia debitis id similique ...</p>
      </aside>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>
