<!DOCTYPE html>
<html lang="en">



<body>
    <footer>
        <div class="footer-container">
            <div class="footer-top">
                <div class="logo">
                    <a href="#"><img src="./assets/footer/tron.png" alt=""></a>
                </div>
                <div class="feedback">
                    <h3>ProKicks luôn lắng nghe bạn!</h3>
                    <p>Chúng tôi luôn trân trọng và mong đợi nhận được mọi ý kiến đóng góp từ khách hàng để cải tiến
                        trải nghiệm dịch vụ và sản phẩm tốt hơn nữa.</p>
                    <button>Đóng góp ý kiến</button>
                </div>
                <div class="contact">
                    <div class="phone">
                        <img src="./assets/footer/phone-call-white-icon.png" alt="">
                        <p>Hotline: <br><b>0909090909</b></p>
                    </div>
                    <div class="email">
                        <img src="./assets/footer/email-envelope-white-icon.png" alt="">
                        <p>Email: <br><b>prokicksgmail.com</b></p>
                    </div>
                </div>
                <div class="social-media">
                    <h3>Contact us</h3>
                    <div class="links">
                        <a href="https://www.facebook.com/profile.php?id=61559950054287" target="_blank">
                            <img src="./assets/footer/facebook-app-round-white-icon.png" alt="">
                        </a>
                        <a href="https://www.tiktok.com/@prokicks406" target="_blank"><img src="./assets/footer/tiktok-white-icon.png" alt=""></a>
                        <a href="#" target="_blank">
                            <img src="./assets/footer/instagram-white-icon.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="footer-center">
                <div class="chinh-sach">
                    <ul>
                        <h4>CHÍNH SÁCH</h4>
                        <li><a href="#">Chính sách đổi trả 60 ngày</a></li>
                        <li><a href="#">Chính sách khuyến mãi</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Chính sách giao hàng</a></li>
                    </ul>
                </div>
                <div class="cskh">
                    <ul>
                        <h4>CHĂM SÓC KHÁCH HÀNG</h4>
                        <li><a href="#">Đánh giá và trải nghiệm tốt từ khách hàng</a></li>
                        <li><a href="#">Hỏi đáp - FAQs</a></li>
                    </ul>
                </div>
                <div class="dia-chi">
                    <h4>ĐỊA CHỈ LIÊN HỆ</h4>
                    <p>669 QL1A, khu phố 6, Thủ Đức, TP. Hồ Chí Minh</p>
                </div>
            </div>
            <hr>
            <div class="footer-bottom">
                <p>© 2024 bởi ProKicks</p>
                <img src="./assets/footer/logo-da-thong-bao-bo-cong-thuong-mau-xanh.png" alt="">
            </div>
        </div>
    </footer>
</body>

</html>