<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Về ProKicks</title>
    <link rel="stylesheet" href="about.component.css">
</head>
<body>
    <div class="about-first-section">
        <img src="./assets/about/company_trip.jpg" alt="">
        <div class="text-overlay">VỀ CHÚNG TÔI</div>
    </div>
    <div class="about-second-section">
        <img src="./assets/about/about_prokicks.png" alt="">
        <p>Khởi nguồn từ niềm đam mê bất tận với giày bóng đá, năm 2024 khi còn ngồi ở ghế nhà trường, nhóm 5 người bạn Quý Hải, Trung Hiếu, Đức Lương, Văn Tài và Chí Trung nhận thấy việc tìm mua 1 đôi giày bóng đá chính hãng tại Việt Nam thực sự là điều vô cùng khó khăn. Nhìn sang các nước láng giềng như Thái Lan hay Trung Quốc, người dân thường sử dụng giày chính hãng, và họ sản xuất rất nhiều giày nhái để đẩy qua thị trường Việt Nam. Bản thân của người dân Việt Nam cũng chưa có khái niệm rõ ràng về "Giày bóng đá chính hãng" nên thường mua nhầm những sản phẩm nhái này. Nhận thấy đây là cơ hội cũng là sứ mệnh cần phải thực hiện, ProKicks được ra đời từ đó.</p>
    </div>
    <div class="about-third-section">
        <div class="about-third-section-content">
            <div class="about-third-section-para">
                <h3>VĂN HÓA LÀM VIỆC CỦA CHÚNG TÔI</h3>
                <p>Ở ProKicks, văn hóa không chỉ là một bộ tài liệu, mà đó là <b>"cẩm nang"</b> và <b>"quy tắc ứng xử"</b> cho tất cả nhân viên của ProKicks bất kể ai, và bất kể vị trí gì. ProKicks coi việc xây dựng Văn Hóa là một phần quan trọng trong việc xây dựng doanh nghiệp phát triển mạnh và bền vững.</p>
            </div>
            <img src="./assets/about/van_hoa_1.png" alt="">
        </div>
        <div class="about-third-section-content-image">
            <img src="./assets/about/van_hoa_3.png" alt="">
        </div>
    </div>
    <div class="about-fourth-section">
        <h3>ĐỘI NGŨ SÁNG LẬP</h3>
        <div class="about-fourth-section-members">
            <div class="member">
                <img src="./assets/about/hai.jpg" alt="">
                <h5>Lê Thanh Quý Hải</h5>
            </div>
            <div class="member">
                <img src="./assets/about/hieu.jpg" alt="">
                <h5>Cao Phan Trung Hiếu</h5>
            </div>
            <div class="member">
                <img src="./assets/about/luong.jpg" alt="">
                <h5>Trần Đức Lương</h5>
            </div>
            <div class="member">
                <img src="./assets/about/tai.jpg" alt="">
                <h5>Nguyễn Văn Tài</h5>
            </div>
            <div class="member">
                <img src="./assets/about/trung.jpg" alt="">
                <h5>Lương Chí Trung</h5>
            </div>
        </div>
    </div>
    <div class="about-fifth-section">
        <h3>ĐỊA CHỈ</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d125378.25166301301!2d106.7810816!3d10.8822528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1731514309848!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <h4>669 QL1A, khu phố 6, Thủ Đức, Hồ Chí Minh</h4>
    </div>
</body>
</html>